#============================
# Environment configuration
#============================
NODE_ENV=development
PORT=3000
DB_DIALECT=postgres

#============================
# Database configuration
#============================
DB_HOST=localhost
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=

DB_LOGGING=false

# ============================
# JWT configuration
# ============================
JWT_SECRET=change-this-access-secret
JWT_ACCESS_EXPIRES_IN=45m
JWT_REFRESH_EXPIRES_IN_DAYS=7
COOKIE_CROSS_SITE=false

# ============================
#  Nodemailer configuration
# ============================
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_SECURE=true

EMAIL_USER=
EMAIL_PASSWORD=

EMAIL_FROM_EMAIL=
EMAIL_FROM_NAME=

# ============================
# OTP configuration
# ============================
OTP_EXPIRES_IN_MINUTES=5
OTP_MAX_ATTEMPTS=5
OTP_RESEND_COOLDOWN_SECONDS=60
